doctype html
html
  head
    title #{title}
    link(rel="stylesheet" type="text/css" href="/css/global.css")
    script(type="text/javascript" src="/react-with-addons.min.js")
  body
    header
      nav#user
        - if (loggedin) 
          a(href="/logout") Logout
        - else
          a(href="/login") Login
          a(href="/register") Register
      nav#primary
        a(href="/") Home
        a(href="/users") Users
    main
      block content
    footer
      p.copyright Copyright &copy; 2015
