html
  head
    link(rel="stylesheet" type="text/css" href="/css/global.css")
  body
    header
      nav#user
        a(href="/login") Login
      nav#primary
        a(href="/") Home
        a(href="/users") Users
    main
      form(name="login")
        fieldset
          label
            span Username
            input(type="text")
          label
            span Password
            input(type="password")
        fieldset.controls
          input(type="submit" value="Login") 
    footer
      p.copyright Copyright &copy; 2015
