* { border:0; font:1em sans-serif; margin:0; padding:0; }

body > header, 
body > footer { background:#069; color:#FFF; padding:1em; }
body > header nav a { color:#FFF; display:inline-block; padding:0.5em; text-decoration:none; }
body > header nav#user { float:right; }

form { border:1px solid #CCC; margin:1em; }
form fieldset { padding:1em; }
form fieldset.controls { background:#CCC; padding:0; text-align:right; }
form fieldset.controls input { font-weight:bold; padding:1em; width:100%; }
form fieldset label { margin:1em; }
form fieldset label span { display:block; font-weight:bold; margin:0.5em 0; }
form fieldset label input { border:1px solid #CCC; background:#EEE; padding:0.5em; width:100%; }


main { display:block; overflow:auto; }
main #alert { background: #EEE; border:1px solid #BBB; padding:1em; }
main #alert.error { background: #FEE; border:1px solid #C00; }

form#login { float:right; width:20em; }
