doctype html
html
  head
    title #{title}
    link(rel="stylesheet" type="text/css" href="/css/global.css?1")
    script(type="text/javascript" src="/react-with-addons.js")
    script(type="text/javascript" src="/global.js")
    script(type="text/javascript" src="/js/App.js")
    script(type="text/javascript" src="/js/Profile.js")
  body
    #app
