* { border:0; font:1em Roboto, Helvetica, Arial, sans-serif; margin:0; padding:0; }

header, footer, main, article { display:block; }

#app { background:#FFF; }
#app > header { background:#333; color:#FFF; overflow:auto; padding:0.5em; }
#app > header > h1 { font-size:2em; margin:0.25em; }
#app > header nav{  } 
#app > header nav a { color:#FFF; display:inline-block; font-weight:bold; padding:0.25em 0.5em; text-decoration:none; text-transform:uppercase; } 
#app > header nav a:hover { background:#FFF; color:#333; }
#app > header nav#primary { float:left; }
#app > header nav#user { float:right; }
#app > footer { background:#333; color:#FFF; padding:1em; text-align:right; }

main { padding:1em; }
main > div > header { background:#555; color:#FFF; display:flex; margin:-1em -1em 1em -1em; padding:1em; }
main > div > header h1 { font-size:1.5em; order:1; }
main dl {  }
main dl dt { font-weight:bold; }
main dl dd { margin:0 0 1em 0; }

#profile header { display:flex; }
#profile header h1 { order:1; }
#profile header img { height:4em; order:0; margin:-1em 1em -1em -1em; }
#profile header ul { float:right; order:2; list-style:none; }


form { border:1px solid #DDD; margin-bottom:1em; }
form fieldset { padding:1em; }
form fieldset label { display:block; margin-bottom:1em; }
form fieldset label span { display:block; font-weight:bold; margin-bottom:0.25em; }
form fieldset label input,
form fieldset label textarea { border:1px solid #AAA; padding:2px; }
form fieldset.controls { background:#EEE; padding:1em; }
form fieldset.controls button { background:#CCC; font-weight:bold; padding:0.5em 1em; margin-right:0.5em; }
form fieldset.controls button:hover { background:#333; color:#FFF; }
