* {
  border: 0;
  font: 1em Roboto, sans-serif;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

#app {
  display: flex;
  flex-direction: column; }
  #app > header, #app > footer {
    background: #069;
    color: #FFF;
    padding: 1em; }
    #app > header a, #app > footer a {
      color: #FFF;
      display: inline-block;
      padding: 0.5em;
      text-decoration: none; }
      #app > header a:hover, #app > footer a:hover {
        background: #FFF;
        color: #069; }
    #app > header nav#user, #app > footer nav#user {
      float: right; }

form {
  border: 1px solid #CCC;
  margin: 1em; }
  form fieldset {
    padding: 1em; }
    form fieldset label {
      margin: 1em; }
      form fieldset label span {
        display: block;
        margin: 0.5em 0; }
      form fieldset label input {
        border: 1px solid #CCC;
        background: #EEE;
        display: block;
        padding: 0.5em; }
    form fieldset.controls {
      background: #CCC;
      padding: 0;
      text-align: right; }
      form fieldset.controls input {
        padding: 1em;
        width: 100%; }

main {
  display: block;
  overflow: auto;
  flex: 1 1 auto; }
  main #alert {
    background: #EEE;
    border: 1px solid #BBB;
    padding: 1em; }
    main #alert.error {
      background: #FEE;
      border: 1px solid #C00; }
  main h1 {
    font-size: 1.8em;
    padding: 0.556em; }

form#login {
  float: right;
  width: 20em; }

#profile header {
  background: #222;
  color: #FFF;
  display: flex;
  height: 4em; }
  #profile header img {
    height: 100%;
    width: 4em;
    order: 0; }
  #profile header h1 {
    order: 1; }
  #profile header ul {
    float: right;
    order: 2;
    list-style: none;
    margin: 1em; }
    #profile header ul li {
      background: #069;
      color: #FFF;
      display: block;
      list-style: none; }
      #profile header ul li button {
        padding: 0.5em; }

#profile .metadata {
  background: #DDD;
  clear: both;
  padding: 1em; }
  #profile .metadata ul.privacy {
    float: right; }
  #profile .metadata dl dt {
    font-weight: bold; }
  #profile .metadata dl dd {
    margin-bottom: 1em; }

.panel {
  padding: 1em;
  width: 30em;
  display: inline-block; }
  .panel h2 {
    font-size: 1.4em; }
